*{
    margin: 0;padding: 0;box-sizing: border-box;
    
}
.navb{
    position: sticky;
    top: 0;
    margin: 0;
    height: 10%;
   
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
   
    padding: 7px;
    font-size: 30px;
    background-color:#fff; 
    /* background-color: aqua; */
    /* overflow: hidden; */
    z-index: 100;
}
.sec{
    display: flex;

    /* border: 3px solid red; */
}
/* .sec {
    margin: 50px; */
/* } */
.logo{
    border: 1px solid black;
    background-color:#001220 ;
    border-radius: 15px;
    padding: 3px 7px;
    padding-right: 2px;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo span{
    
    color:#38ef7d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo span::after {
    content: "Book";
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
   
    background-color: #38ef7d;
    padding: 2px;
}
.navb input{

    width: 20%;
    padding: 5px 10px;
    border-radius: 20px;
    background-color:#fff;
    border: none;
    font-size: 18px;
    transition: all 0.5s;
    border:2px solid black !important;
    display: none;
}
.navb input:hover{
    background-color:rgb(246, 240, 240);
    

}

.logo img{
   
    width: 90px;
    padding: 0px;
    margin: 0;
    box-shadow: 10px 10px 5px lightblue;

}

.dp{
    border-radius: 50%;
    display: none;

   
}
@media screen and (max-width:720px) {
    .dp{
        display: block;
        z-index: 100000;

    }
   

}


/* notification menu */

.sub-menu-wrap {
    /* display: none; */
    position: absolute;
    top: 10%;
    right: 5px;
    width: 300px;
    height: 0px;
    /* max-height: 0px; */
    overflow: scroll;
    transition: all 0.5s;
    /* margin: 0px ; */
    z-index: 109980;
    background-color: #424143;
    /* border: 2px solid black; */
    border-radius: 20px;
    scroll-behavior: smooth;

}

.sub-menu-wrap::-webkit-scrollbar{
    display: none;
}


.open-menu{
    /* display: block; */
    height: 600px;
}
