.innerfeedbox{
    width: 90%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.feedbox{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:  #001220;
}
.modal {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    
    padding-top: 100px;
}
.modal-backdrop {
    
    display: none;
}
.modal-dialog{
    z-index: 1000;
    /* margin-top: 500px; */
}