.nopostsbox{
    
    height:35%;
    
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.nopostsbox img{
    opacity: 0.7;
    filter: drop-shadow(16px 12px 27px #FAF9F9);
}
.nopostsbox h2{
    overflow: hidden;
    color: #fff;
   
}